<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Email" value="mujicvedran7@gmail.com" />
		<add key="Password" value="hjqn ardh rtox baby" />
	</appSettings>
	<connectionStrings>
		<add name="link" connectionString="Server=bazepodataka.ba;Database=student2371;Uid=student2371;Pwd=18662;Port=7306;"/>
	</connectionStrings>
</configuration>